<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To Do List</title>
</head>
<body>
    <h1 style="color: blue"><%= kindOfDay %> ToDo List</h1>

    <ul>
        <li>action 1</li>
        <li>action 2</li>
        <li>action 3</li>
        <% for(var i=0; i<newListItems.length; i++)  { %>
            <li><%= newListItems[i] %></li>
        <% } %>
    </ul>


    <form action="/" method="post">
    <input type="text" name="newItem">
    <button type="submit" name="button">Add</button>
    </form>
</body>
</html>

